<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplicativo de enquete para saber quais apps as pessoas gostariam de ter hoje em dia.">
    <meta name="keywords" content="Enquete, enquete, App, Perguntas, Aplicativo">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Daniel S.">


    <title>Pesquisando</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>Enquete para um novo App!</h1>
        <img src="../img/img2.jpeg" alt="reunião de pesquisa" title="Imagem de reunião">
    <p>A sua opinião é importante! Ajude-nos a criar um aplicativo que atenda às suas necessidades.</p>

    </header>
    <main>
        <section>
            <h2>Qual aplicativo você gostaria que tivesse agora?</h2>
            <form action="" id="enquete" class="formulario">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" placeholder="Digite seu nome">

                <label for="sexo">Sexo:</label>
                <div class="sexo">
                    <label for="sexo" class="sexo">Masculino</label>
                    <input type="radio" id="masculino" name="sexo" checked title="Sexo Masculino">
                    <label for="sexo" class="sexo">Feminino</label>
                    <input type="radio" id="feminino" name="sexo" title="Sexo Feminino">
                    <label for="sexo" class="sexo">Outro</label>
                    <input type="radio" id="outro" name="sexo" title="Sexo Outros">
                </div>
                
                <label for="idade">Idade:</label>
                <input type="number" id="idade" name="idade" placeholder="Digite a sua idade" title="A sua idade">

                <label for="profissao">Profissão:</label>
                <input type="text" id="profissao" name="profissao" placeholder="Opcional">
                
                <label for="comentario">Comente com detalhes o que gostaria?</label>
                <textarea id="comentario" name="comentario" maxlength="400" placeholder="Escreva bem detalhamente o que você gostaria no aplicativo e como ele te ajudaria."></textarea>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
    <footer>
        <p>Obrigado por participar da nossa enquete!</p>
    </footer>
    <script src="/js/formularioEnquete.js"></script>

</body>
</html>